---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">

  <div class="block-left" style="
  background: linear-gradient(rgba(44,45,51,0.9), rgba(44,45,51,0.9)), url(/images/{{ page.image }}) no-repeat;
  background-size: cover;
  ">
    <div class="content">
      <a href="/" class="home-logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
      <div class="main-info">
        <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ page.icon }}"></a>
        <h1>
          {{ page.title }}
        </h1>
        <h2>
          {{ page.description }}
        </h2>
        <a href="{{ page.heroku }}" class="btn btn_heroku" title="Share on Google Plus" target="_blank">
          <span>Visit Site</span>
        </a>
        <a href="{{ page.github }}" class="btn btn_github" title="Share on Google Plus" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
          <span> GitHub</span>
        </a>
        <!-- {% include social-links.html %} -->
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <!-- <a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">POSTS</span> -->
    <a title="project" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">PROJECTS</span>
    <div class="content">
      <div class="about-info">
        {{ content }}
      </div>
    </div>
  </div>
  {% include overlay.html %}
  {% include scripts.html %}
  <!-- <script src="{{ site.url }}/assets/js/canvas.js"></script> -->
</body>
</html>
